@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  color: black;
}

.hero_section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../src/assets/3.jpg");
  background-size: cover;
  background-position: center center;
  height: 90vh;
}

.transation_custom {
  transition: all 0.3s ease;
}
